AUTH_SECRET=''
AUTH_URL='http://localhost:4000'
PGBOUNCER_HOST='localhost'
PGBOUNCER_PORT='6432'
DB_HOST='localhost'
DB_NAME=''
DB_PASSWORD=''
DB_USER=''
DOMAIN='localhost'
NODE_ENV='development'
OPENROUTER_API_KEY=''
PUBLIC_API_URL='http://localhost:4000'
PUBLIC_APP_BASE_URL='http://localhost:5173'
REDIS_URL='redis://localhost:6379'
